:root {
  --picpay-verde: #21c25e;
  --picpay-verde-escuro: #08783f;

  background-color: #000;
  font-family: "Poppins";
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: #FFF;
}